# wheel # For cec2019comp100digit
# Cython # For cec2019comp100digit

git+https://github.com/ksehic/LassoBench.git#egg=LassoBench
pytest
botorch
torch
jax
numpy
cocopp
coco-experiment
pygame
Box2D
slientruss3d
openpyxl
diversipy # For optproblems
optproblems
# cec2019comp100digit
opfunu

# neorl only works on python 3.7 or lower

# Modact
attrs
cached_property >= 1.5.1
networkx
python-fcl
scipy
trimesh
git+https://github.com/epfl-lamd/modact
