git+https://github.com/ksehic/LassoBench.git#egg=LassoBench
pytest
botorch
torch
jax
numpy
cocopp
coco-experiment
pygame
Box2D
slientruss3d
openpyxl

# neorl

# Modact
attrs
cached_property >= 1.5.1
networkx
python-fcl
scipy
trimesh
git+https://github.com/epfl-lamd/modact
